@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.range-slider::-webkit-slider-runnable-track {
  height: 4px;
  background-color: #e2e8f0;
  border-radius: 9999px;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  margin-top: -6px;
  background-color: #ffffff;
  border: 2px solid white;
  border-radius: 9999px;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.range-slider::-moz-range-track {
  height: 4px;
  background-color: #e2e8f0;
  border-radius: 9999px;
}
.range-slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  border: 2px solid white;
  border-radius: 9999px;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.range-slider::-ms-track {
  height: 4px;
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}
.range-slider::-ms-fill-lower {
  background-color: #e2e8f0;
  border-radius: 9999px;
}
.range-slider::-ms-fill-upper {
  background-color: #e2e8f0;
  border-radius: 9999px;
}
.range-slider::-ms-thumb {
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  border: 2px solid white;
  border-radius: 9999px;
  cursor: pointer;
  margin-top: 0px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
